@model PetProject.Models.SignUpModel

<div class="container mt-4">
    <form asp-controller="Account" asp-action="SignUp">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmedPassword"></label>
            <input asp-for="ConfirmedPassword" class="form-control" />
            <span asp-validation-for="ConfirmedPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-info" type="submit" asp-controller="Account" asp-action="SignUp">Sign up </button>
        </div>
    </form>
</div>
