<div class="container-fluid section-top__background">
    <div class="section-top__body d-flex justify-content-center">
        <div class="section-top__header">
            ToDo List
        </div>
        <div class="section-top__button">
            <a asp-controller="Home" asp-action="MakeTasks" class="btn btn-primary section-top__buttonstyles">Create/Edit list tasks</a>
        </div>
    </div>
</div>