<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDo list</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/HomeIndex.css" />
    <link href="~/css/MoreDetails.css" rel="stylesheet" />
    <link href="~/css/Profile.css" rel="stylesheet">
    <link href="~/css/ChangePassword.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header>
                <nav class="navbar navbar-expand-sm navbar-expand-sm navbar-light bg-light border-bottom box-shadow m-0 w-100 navbar__visible">
                    <div class="container">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">ToDo list</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-action="Index" asp-controller="Home">Home</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-end">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-primary mr-3" asp-controller="Account" asp-action="Login">Login</a>
                                <a class="btn btn-outline-primary ml-3" asp-controller="Account" asp-action="SignUp">Registration</a>
                            }
                            else
                            {
                                <a class="btn btn-link" asp-controller="Account" asp-action="Logout">Logout</a>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Profile">Profile</a>
                            }
                        </div>
                    </div>
                </nav>
            </header>
            <div>
                <main role="main" class="pb-0">
                    @RenderBody()
                </main>
            </div>
        </div>
        <div class="footer">
            <footer class="border-top text-muted bg-dark text-white">
                &copy; 2021 - PetProject - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
