.section-top__background{
    background:url(/img/section_top__background.jpg);
    height:100vh;
    max-width:100vw;
}
.section-top__body {
    font-family: sans-serif;
    color: #ffffff;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    line-height: 1.375;
}
.section-top__header{
    font-size:44px;
}
.section-top__buttonstyles{
    border-radius:30px;
    font-size:30px;
}
