html, body{
    
}
.section-top__background {
    background: url(/img/HomeIndexBackground.jpg) no-repeat;
    height: 90vh;
    width:100vw;
}
.section-top__body {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 1.375;
}
.section-top__header {
    color: rgb(52,58,64);
    font-size: 44px;
    margin-right:20px;
    margin-top:40px;
}
.section-top__buttonstyles {
    border-radius: 30px;
    font-size: 30px;
    margin-top: 40px;
}
